.header__lang {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: flex-end;
}

@media screen and (max-width: 320px) {
  .header__lang {
    margin: 0 1px 6px auto;
  }
}