.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
      max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
      font-size: 16px;
      line-height: 26.08px;
  }
}

@media screen and (max-width: 590px) {
  .place__paragraph {
      margin-left: 16px;
      margin-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
      max-width: 90%;
      margin: 9px auto 25px auto;
  }
}