.footer {
  max-width: 1184px;
  margin: 0;
  margin: 92px auto 24px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 546px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 482px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    margin-top: 64px;
    margin-left: 16px;
    flex-direction: column;
  }
}