.place__website {
  align-self: end;
  margin-bottom: 48px;
}

@media screen and (max-width: 590px) {
  .place__website {
      margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
      margin: 2px 16px;
  }
}